{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md-6">
        <h5>NUNNYS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href= "">
                Add Nunny
            </a>
        </div>
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>PipeLIne</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Embakasi</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Kawangware</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-6">
        <h5>BABY-SITTERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href= "">
                Add Baby-Sitter
            </a>
        </div>
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>PipeLIne</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Embakasi</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Kawangware</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS</h5>
        <hr>
        <div class="card card-body">
          <a class="btn btn-primary btn-sm btn-block" href= "">
              Add Customer
          </a>
      </div>
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in homeOwner %}
              <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{customer.name}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.location}}</td>
              </tr>
              {% endfor %}
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Embakasi</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Kawangware</td>
              </tr> -->
            </tbody>
          </table>
    </div> 
    <div class= "col-md-7">
        <h4>ORDERS</h4>
        <hr>
        <div class="card card-body">
          <a class="btn btn-primary btn-sm btn-block" href= "">
              New Order
          </a>
      </div>
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Date </th>
                <th scope="col">Nunny </th>
                <th scope="col">Status</th>
                <th scope="col"> Update</th>
                <th scope="col"> Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{order.houseowner}}</td>
                <td>{{order.date_created}}</td>
                <td>{{order.nunny}}</td>
                <td>{{order.status}}</td>
                <td><a href="">Update</a></td>
                <td><a href="">Delete</td>
              </tr>
              {% endfor %}
             
            </tbody>
          </table>

    </div>
</div>
  

{% endblock %}