{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-12">
        <h5>CUSTOMERS</h5>
        <hr>
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>PipeLIne</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Embakasi</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Kawangware</td>
              </tr>
            </tbody>
          </table>
    </div> 
</div>

{% endblock %}