{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
  <div class="col-md-6">
    <h5>CUSTOMERS(HOME OWNERS)</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href= "">
          Add Customer
      </a>
  </div>
    <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in homeOwner %}
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.location}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'homeowner' customer.id%}">View details</a> </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div> 
</div>

{% endblock %}